___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [49]:
# based on 01 - Preparing The Data For Analysis and read a ri.csv with only 50000 rows.
ri = pd.read_csv('ri.csv', low_memory =False, index_col = 'stop_datetime', nrows = 50000)
ri.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,500,M,1986.0,19.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,500,M,1978.0,27.0,B,Black,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,000,M,1973.0,32.0,B,Black,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [51]:
#  Unique values in the violation column
print(" Unique values name:", ri.violation.unique(), '\n', 'How many unique value:', ri.violation.nunique(), '\n', 'Total value:', ri.violation.value_counts().sum())

 Unique values name: ['Speeding' 'Equipment' 'Other' 'Moving violation' 'Registration/plates']
 How many unique value: 5
 Total value: 50000

In [3]:
#  The violation column's counts 
ri.violation.value_counts()

Speeding               37645
Moving violation        6755
Equipment               3140
Registration/plates     1527
Other                    933
Name: violation, dtype: int64

In [6]:
#  Express the violation counts as proportions of the total.
ri["violation"].value_counts(normalize=True)*100

Speeding               75.290
Moving violation       13.510
Equipment               6.280
Registration/plates     3.054
Other                   1.866
Name: violation, dtype: float64

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [9]:
# Create a df which values by gender 
male = ri[ri['driver_gender'] == 'M']
female = ri[ri['driver_gender'] == 'F']

In [10]:
#  Male violation proportions
male.violation.value_counts(normalize = True)

Speeding               0.729670
Moving violation       0.149374
Equipment              0.069549
Registration/plates    0.031908
Other                  0.019499
Name: violation, dtype: float64

In [11]:
#  Female violation proportions
female.violation.value_counts(normalize = True)

Speeding               0.813256
Moving violation       0.098014
Equipment              0.045265
Registration/plates    0.026986
Other                  0.016480
Name: violation, dtype: float64

***

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [52]:
female_and_speeding = ri[(ri.driver_gender == 'F') & (ri.violation == 'Speeding')]
male_and_speeding = ri[(ri.driver_gender == 'M') & (ri.violation == 'Speeding')]

In [53]:
female_and_speeding.stop_outcome.value_counts(normalize =True)

Citation            0.974339
Warning             0.012477
Arrest Driver       0.007256
N/D                 0.003451
Arrest Passenger    0.002212
No Action           0.000265
Name: stop_outcome, dtype: float64

In [54]:
male_and_speeding.stop_outcome.value_counts(normalize =True)

Citation            0.957979
Arrest Driver       0.025812
Warning             0.010439
N/D                 0.003340
Arrest Passenger    0.002050
No Action           0.000380
Name: stop_outcome, dtype: float64

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [55]:
ri.search_conducted.dtype

dtype('bool')

In [56]:
ri.search_conducted.value_counts(normalize = True)

False    0.9586
True     0.0414
Name: search_conducted, dtype: float64

In [22]:
print('False:', 1 - ri.search_conducted.mean())
print('True:', ri.search_conducted.mean())

False: 0.9586
True: 0.0414

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [57]:
female.search_conducted.mean()

0.01770293609671848

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [58]:
male.search_conducted.mean()

0.05052071792599158

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [59]:
ri.driver_gender.unique()

array(['M', 'F'], dtype=object)

In [60]:
ri.groupby('driver_gender').search_conducted.mean()

driver_gender
F    0.017703
M    0.050521
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [61]:
ri.violation.unique()

array(['Speeding', 'Equipment', 'Other', 'Moving violation',
       'Registration/plates'], dtype=object)

In [64]:
ri.groupby(['driver_gender', 'violation']).search_conducted.mean()

driver_gender  violation
F              Equipment              0.082671
               Moving violation       0.046990
               Other                  0.043668
               Registration/plates    0.117333
               Speeding               0.006725
M              Equipment              0.123855
               Moving violation       0.087521
               Other                  0.151989
               Registration/plates    0.169271
               Speeding               0.028052
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [62]:
ri.groupby(['violation', 'driver_gender']).search_conducted.mean()

violation            driver_gender
Equipment            F                0.082671
                     M                0.123855
Moving violation     F                0.046990
                     M                0.087521
Other                F                0.043668
                     M                0.151989
Registration/plates  F                0.117333
                     M                0.169271
Speeding             F                0.006725
                     M                0.028052
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [65]:
ri.search_type.value_counts().head(10)

Incident to Arrest                               977
Probable Cause                                   254
Protective Frisk                                 211
Inventory                                        121
Incident to Arrest,Inventory                     120
Incident to Arrest,Probable Cause                 79
Incident to Arrest,Protective Frisk               65
Reasonable Suspicion                              44
Probable Cause,Protective Frisk                   38
Incident to Arrest,Inventory,Protective Frisk     33
Name: search_type, dtype: int64

In [67]:
ri.search_type.value_counts()['Protective Frisk']

211

In [66]:
ri['frisk'] = ri.search_type.str.contains('Protective Frisk', na = False)
ri.frisk.value_counts()

False    49582
True       418
Name: frisk, dtype: int64

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [68]:
searched = ri[ri.search_conducted]
searched.head(2)

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-24 20:32:00,RI-2005-00010,2005-01-24,20:32,Zone K1,600,M,1987.0,18.0,W,White,...,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1,False
2005-02-09 03:05:00,RI-2005-00011,2005-02-09,03:05,Zone X4,500,M,1976.0,29.0,W,White,...,"Probable Cause,Terry Frisk","Probable Cause,Protective Frisk",False,Citation,False,0-15 Min,False,False,Zone X4,True

In [69]:
searched.frisk.mean()

0.20193236714975846

In [70]:
searched.groupby('driver_gender').frisk.mean()

driver_gender
F    0.170732
M    0.206140
Name: frisk, dtype: float64

In [71]:
ri.head(2)

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,False
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,False